*,html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    height: 100vh;
    
    background: linear-gradient(0deg,rgb(41,52,82) 0, rgba(0,0,0,1) 50%);
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 1px #000;
}

.logo img{
    width: 220px;
    height: auto;
}

.menu ul{   
    list-style: none;
}

.menu ul li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    color: #FDB927;
    font-size: 1.2rem;
    display: block;
    padding: 40px 10px;
}